.btn {
  background-image: url('../../images/btn/index.png');
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
}

.btn-submit {
  width: 147px;
  height: 49px;
  background-position: -3px -25px;
}

.btn-play {
  width: 129px;
  height: 129px;
  background-position: -3px -91px;
}

.btn-get {
  width: 86px;
  height: 32px;
  background-position: -3px -246px;
}

.btn-get-active {
  width: 86px;
  height: 32px;
  background-position: -90px -246px;
}

.btn-fenye {
  width: 78px;
  height: 23px;
  background-position: -3px -306px;
}
