.contact h3 {
  font-size: 16px;
  padding: 17px 0 29px 0;
}

.contact textarea {
  color: #fcedd7;
  width: 960px;
  height: 242px;
  border: 1px solid #cbb4d3;
  padding: 16px 19px 0;
  background: transparent;
  outline: none;
  overflow: hidden;
}

.contact .form {
  font-size: 16px;
  padding-top: 37px;
}

.contact .form .icon {
  margin-left: 9px;
}

.contact .form input {
  color: #fcedd7;
  width: 290px;
  height: 34px;
  border: 1px solid #cbb4d3;
  background: #1a2467;
  padding: 2px 5px;
  margin-left : 18px;
}

.contact .form table {
  margin-bottom: 49px;
}

.contact .form table td {
  text-align: right;
  padding-bottom: 35px;
}

.contact .form table tr {
  margin-bottom: 35px;
}

.contact .form select {
  width: 300px;
  height: 38px;
  outline: none;
}

.contact .btn-submit {
  color: #111f4d;
  font-size: 22px;
  line-height: 49px;
}

.contact .select2-container--default .select2-selection--single {
  background-color: #1a2467;
}

.contact .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fcedd7;
}

.contact .select2-container .select2-selection--single {
  height: 38px;
}

.contact .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
}

.contact .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
}

.contact .select2-container--default .select2-selection--single {
  border-radius: 0px;
}
